html, body {
  background-color: #eee; }

#frame {
  position: relative;
  height: 600px;
  width: 1024px;
  border: 10px solid;
  margin: 50px auto;
  background: #fff;
  border-image: linear-gradient(#9DB2A7, #9DB2A7) 50; }
  #frame #whiteboard, #frame #canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 600px;
    width: 1024px; }
  #frame #whiteboard {
    z-index: 10;
    opacity: 50%; }
  #frame #canvas {
    z-index: 5; }
  #frame #ledge {
    z-index: 15;
    background-color: #ccc;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #frame #ledge div, #frame #ledge div label {
      display: flex;
      align-items: center;
      height: 100%; }
    #frame #ledge [type=radio] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0; }
      #frame #ledge [type=radio] + .marker, #frame #ledge [type=radio] + .eraser, #frame #ledge [type=radio] + .toolsize {
        cursor: pointer; }
      #frame #ledge [type=radio]:checked + .marker, #frame #ledge [type=radio]:checked + .eraser, #frame #ledge [type=radio]:checked + .toolsize {
        border: 3px solid #666666; }
    #frame #ledge .color-chooser {
      width: 45%; }
      #frame #ledge .color-chooser .marker, #frame #ledge .color-chooser .eraser {
        display: inline-block;
        height: 20px;
        width: 50px;
        margin: 0 10px; }
      #frame #ledge .color-chooser .marker {
        border-radius: 50% 20% 20% 50%; }
        #frame #ledge .color-chooser .marker.black {
          background-color: black; }
        #frame #ledge .color-chooser .marker.blue {
          background-color: blue; }
        #frame #ledge .color-chooser .marker.red {
          background-color: red; }
        #frame #ledge .color-chooser .marker.green {
          background-color: green; }
      #frame #ledge .color-chooser .eraser {
        border-radius: 20% 20% 20% 20%;
        background-color: white; }
    #frame #ledge .size-chooser {
      width: 15%; }
      #frame #ledge .size-chooser .toolsize {
        display: inline-block;
        margin-left: 10px;
        background-color: black;
        border-radius: 50% 50% 50% 50%; }
        #frame #ledge .size-chooser .toolsize.large {
          height: 20px;
          width: 20px; }
        #frame #ledge .size-chooser .toolsize.medium {
          height: 16px;
          width: 16px; }
        #frame #ledge .size-chooser .toolsize.small {
          height: 12px;
          width: 12px; }
    #frame #ledge .download-link {
      width: 25%;
      font-size: 12px; }
    #frame #ledge .actions {
      display: inline-block;
      height: 100%;
      width: 25%;
      box-sizing: border-box; }
      #frame #ledge .actions button {
        display: inline-block;
        height: 100%;
        width: 100px;
        border: 0;
        background-color: initial;
        box-sizing: border-box; }
        #frame #ledge .actions button:hover {
          border: 1px solid #333333;
          cursor: pointer; }
